

 This is teh index
adsads
 <a href="/auth_app">link</a>


 <br><br>
 <h3>Reference resources:</h3>
 <ul>
    <li><a href="https://www.youtube.com/playlist?list=PL4cUxeGkcC9gcy9lrvMJ75z9maRw4byYp">Net ninja Node beeginer playlist</a></li>
    <li><a href="https://www.youtube.com/watch?v=OnuC3VtEQks">Node login Travesy media [VIDEOa]</a></li>
    <li><a href="https://www.npmjs.com/package/passport-google-oauth2">passport-google-oauth2 NPM page</a></li>
    <li><a href="https://github.com/mstade/passport-google-oauth2/blob/master/example/app.js">passport-google-oauth2 NPM example</a></li>
 </ul>
